.Phonetic {
  margin: 15px 0;
}
.Phonetic a {
  border: 1px solid rgba(141, 77, 141);
  text-decoration: none;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  color: rgba(141, 77, 141);
  margin-right: 10px;
  font-weight: bold;
}
.Phonetic a:hover {
  background: rgba(141, 77, 141);
  color: white;
  border: 1px solid white;
}
.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
